@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja69c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 203px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 10px;
    margin-top: 17px;
    width: 344px;
    height: 147px
  }
  .style7 {
    margin-left: 0;
    width: 223px;
    height: 100%
  }
  .image0row0column1 {
    display: flex;
    margin-left: 13px;
    width: 100px;
    height: 176px;
    flex-direction: column
  }
  .style26 {
    margin-left: 2px;
    margin-top: 0;
    width: 100px;
    height: 50px
  }
  .image0row0column1row1 {
    position: relative;
    display: flex;
    margin-top: 57px;
    width: 108px;
    height: 62px
  }
  .style12,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwjaq26.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0;
    width: 47px;
    height: 100%
  }
  .style12,
  .style28 {
    margin-left: 2px;
    width: 96px;
    height: 58px
  }
  .style28 {
    margin-left: 19px;
    margin-top: 7px;
    width: 42px;
    height: 62px
  }
  .image0row1 {
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-top: 140px;
    width: 346px;
    height: 44px
  }
  .style11 {
    position: relative;
    margin-left: 0;
    width: 35px;
    flex-shrink: 0
  }
  .style10,
  .style11,
  .style8,
  .style9 {
    margin-top: 29px;
    height: 23px
  }
  .style9 {
    position: relative;
    width: 35px;
    flex-shrink: 0;
    margin-left: 3px
  }
  .style10,
  .style8 {
    margin-left: 4px
  }
  .style10 {
    position: relative;
    flex-shrink: 0;
    width: 34px
  }
  .style8 {
    width: 30px
  }
  .style29,
  .style5,
  .style6,
  .style8 {
    position: relative;
    flex-shrink: 0
  }
  .style5,
  .style6 {
    margin-top: 29px;
    margin-left: 4px;
    width: 35px;
    height: 23px
  }
  .style29 {
    margin-left: 65px;
    width: 58px;
    height: 100%;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-left: 10px;
    margin-top: 6px;
    width: 339px;
    height: 26px
  }
  .style1 {
    margin-left: 0;
    margin-top: 6px;
    width: 223px;
    height: 8px
  }
  .style24 {
    color: #000;
    font-family: arial,serif;
    font-size: .3125em;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 5px;
    height: 3px
  }
  .style21 {
    margin-left: 275px;
    width: 64px;
    height: 100%;
    align-self: stretch
  }
  .style25 {
    color: #000;
    font-family: arial,serif;
    font-size: .3125em;
    font-weight: 700;
    margin-left: 248px;
    margin-top: 0;
    height: 3px
  }
  .row2 {
    display: flex;
    margin-left: 4px;
    margin-top: 1px;
    width: 350px;
    height: 126px
  }
  .style31 {
    position: relative;
    margin-left: 0;
    margin-top: 63px;
    width: 10px;
    height: 6px
  }
  .style15 {
    margin-left: 0;
    width: 332px;
    height: 100%;
    align-self: stretch
  }
  .style30 {
    margin-left: 1px;
    margin-top: 63px;
    width: 10px;
    height: 6px
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja96k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 8px;
    margin-top: 5px;
    width: 349px;
    height: 193px;
    flex-direction: column
  }
  .style14 {
    position: relative;
    margin-left: 9px;
    margin-top: 181px;
    width: 337px;
    height: 199px;
    flex-shrink: 0
  }
  .style13 {
    margin-left: 17px;
    margin-top: 185px;
    width: 341px;
    height: 160px
  }
  .style19,
  .style20 {
    margin-left: 13px;
    margin-top: 0
  }
  .style20 {
    position: relative;
    width: 338px;
    height: 195px
  }
  .style19 {
    width: 350px;
    height: 22px
  }
  .style18 {
    margin-left: 10px;
    margin-top: 10px;
    width: 353px;
    height: 277px
  }
  .style17 {
    margin-left: 18px;
    margin-top: 13px;
    width: 342px;
    height: 181px
  }
  .style16 {
    margin-left: 10px;
    margin-top: 5px;
    width: 350px;
    height: 451px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja7wf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 4px;
    margin-top: 0;
    width: 357px;
    height: 177px;
    flex-direction: column
  }
  .style3 {
    color: #3856b8;
    font-family: arial,serif;
    font-size: .3125em;
    font-weight: 700;
    margin-left: 253px;
    margin-top: 20px;
    height: 3px
  }
  .style22 {
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 70px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja69c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 416px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 20px;
    margin-top: 35px;
    width: 705px;
    height: 301px
  }
  .style7 {
    margin-left: 0;
    width: 457px;
    height: 100%
  }
  .image0row0column1 {
    display: flex;
    margin-left: 27px;
    width: 205px;
    height: 360px;
    flex-direction: column
  }
  .style26 {
    margin-left: 4px;
    margin-top: 0;
    width: 205px;
    height: 102px
  }
  .image0row0column1row1 {
    position: relative;
    display: flex;
    margin-top: 117px;
    width: 221px;
    height: 127px
  }
  .style12,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwjaq26.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0;
    width: 96px;
    height: 100%
  }
  .style12,
  .style28 {
    margin-left: 4px;
    width: 197px;
    height: 119px
  }
  .style28 {
    margin-left: 39px;
    margin-top: 14px;
    width: 86px;
    height: 127px
  }
  .image0row1 {
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 287px;
    width: 709px;
    height: 90px
  }
  .style11 {
    position: relative;
    margin-left: 0;
    width: 72px;
    flex-shrink: 0
  }
  .style10,
  .style11,
  .style8,
  .style9 {
    margin-top: 59px;
    height: 47px
  }
  .style9 {
    position: relative;
    width: 72px;
    flex-shrink: 0;
    margin-left: 6px
  }
  .style10,
  .style8 {
    margin-left: 8px
  }
  .style10 {
    position: relative;
    flex-shrink: 0;
    width: 70px
  }
  .style8 {
    width: 61px
  }
  .style29,
  .style5,
  .style6,
  .style8 {
    position: relative;
    flex-shrink: 0
  }
  .style5,
  .style6 {
    margin-top: 59px;
    margin-left: 8px;
    width: 72px;
    height: 47px
  }
  .style29 {
    margin-left: 133px;
    width: 119px;
    height: 100%;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-left: 20px;
    margin-top: 12px;
    width: 694px;
    height: 53px
  }
  .style1 {
    margin-left: 0;
    margin-top: 12px;
    width: 457px;
    height: 16px
  }
  .style24 {
    color: #000;
    font-family: arial,serif;
    font-size: .64em;
    font-weight: 700;
    margin-left: 31px;
    margin-top: 10px;
    height: 6px
  }
  .style21 {
    margin-left: 563px;
    width: 131px;
    height: 100%;
    align-self: stretch
  }
  .style25 {
    color: #000;
    font-family: arial,serif;
    font-size: .64em;
    font-weight: 700;
    margin-left: 508px;
    margin-top: 0;
    height: 6px
  }
  .row2 {
    display: flex;
    margin-left: 8px;
    margin-top: 2px;
    width: 717px;
    height: 258px
  }
  .style31 {
    position: relative;
    margin-left: 0;
    margin-top: 129px;
    width: 20px;
    height: 12px
  }
  .style15 {
    margin-left: 0;
    width: 680px;
    height: 100%;
    align-self: stretch
  }
  .style30 {
    margin-left: 2px;
    margin-top: 129px;
    width: 20px;
    height: 12px
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja96k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 16px;
    margin-top: 10px;
    width: 715px;
    height: 395px;
    flex-direction: column
  }
  .style14 {
    position: relative;
    margin-left: 18px;
    margin-top: 371px;
    width: 690px;
    height: 408px;
    flex-shrink: 0
  }
  .style13 {
    margin-left: 35px;
    margin-top: 379px;
    width: 698px;
    height: 328px
  }
  .style19,
  .style20 {
    margin-left: 27px;
    margin-top: 0
  }
  .style20 {
    position: relative;
    width: 692px;
    height: 399px
  }
  .style19 {
    width: 717px;
    height: 45px
  }
  .style18 {
    margin-left: 20px;
    margin-top: 20px;
    width: 723px;
    height: 567px
  }
  .style17 {
    margin-left: 37px;
    margin-top: 27px;
    width: 700px;
    height: 371px
  }
  .style16 {
    margin-left: 20px;
    margin-top: 10px;
    width: 717px;
    height: 924px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja7wf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 8px;
    margin-top: 0;
    width: 731px;
    height: 362px;
    flex-direction: column
  }
  .style3 {
    color: #3856b8;
    font-family: arial,serif;
    font-size: .64em;
    font-weight: 700;
    margin-left: 518px;
    margin-top: 41px;
    height: 6px
  }
  .style22 {
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 143px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja69c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 498px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 25px;
    margin-top: 42px;
    width: 844px;
    height: 361px
  }
  .style7 {
    margin-left: 0;
    width: 547px;
    height: 100%
  }
  .image0row0column1 {
    display: flex;
    margin-left: 32px;
    width: 245px;
    height: 432px;
    flex-direction: column
  }
  .style26 {
    margin-left: 5px;
    margin-top: 0;
    width: 245px;
    height: 123px
  }
  .image0row0column1row1 {
    position: relative;
    display: flex;
    margin-top: 140px;
    width: 265px;
    height: 152px
  }
  .style12,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwjaq26.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0;
    width: 115px;
    height: 100%
  }
  .style12,
  .style28 {
    margin-left: 5px;
    width: 236px;
    height: 142px
  }
  .style28 {
    margin-left: 47px;
    margin-top: 17px;
    width: 103px;
    height: 152px
  }
  .image0row1 {
    position: relative;
    display: flex;
    margin-left: 25px;
    margin-top: 343px;
    width: 849px;
    height: 108px
  }
  .style11 {
    position: relative;
    margin-left: 0;
    width: 86px;
    flex-shrink: 0
  }
  .style10,
  .style11,
  .style8,
  .style9 {
    margin-top: 71px;
    height: 56px
  }
  .style9 {
    position: relative;
    width: 86px;
    flex-shrink: 0;
    margin-left: 7px
  }
  .style10,
  .style8 {
    margin-left: 10px
  }
  .style10 {
    position: relative;
    flex-shrink: 0;
    width: 83px
  }
  .style8 {
    width: 74px
  }
  .style29,
  .style5,
  .style6,
  .style8 {
    position: relative;
    flex-shrink: 0
  }
  .style5,
  .style6 {
    margin-top: 71px;
    margin-left: 10px;
    width: 86px;
    height: 56px
  }
  .style29 {
    margin-left: 159px;
    width: 142px;
    height: 100%;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    width: 832px;
    height: 64px
  }
  .style1 {
    margin-left: 0;
    margin-top: 15px;
    width: 547px;
    height: 20px
  }
  .style24 {
    color: #000;
    font-family: arial,serif;
    font-size: .7666666666666666em;
    font-weight: 700;
    margin-left: 37px;
    margin-top: 12px;
    height: 7px
  }
  .style21 {
    margin-left: 675px;
    width: 157px;
    height: 100%;
    align-self: stretch
  }
  .style25 {
    color: #000;
    font-family: arial,serif;
    font-size: .7666666666666666em;
    font-weight: 700;
    margin-left: 608px;
    margin-top: 0;
    height: 7px
  }
  .row2 {
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    width: 859px;
    height: 309px
  }
  .style31 {
    position: relative;
    margin-left: 0;
    margin-top: 155px;
    width: 25px;
    height: 15px
  }
  .style15 {
    margin-left: 0;
    width: 815px;
    height: 100%;
    align-self: stretch
  }
  .style30 {
    margin-left: 2px;
    margin-top: 155px;
    width: 25px;
    height: 15px
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja96k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 12px;
    width: 856px;
    height: 473px;
    flex-direction: column
  }
  .style14 {
    position: relative;
    margin-left: 22px;
    margin-top: 444px;
    width: 827px;
    height: 488px;
    flex-shrink: 0
  }
  .style13 {
    margin-left: 42px;
    margin-top: 454px;
    width: 837px;
    height: 393px
  }
  .style19,
  .style20 {
    margin-left: 32px;
    margin-top: 0
  }
  .style20 {
    position: relative;
    width: 829px;
    height: 478px
  }
  .style19 {
    width: 859px;
    height: 54px
  }
  .style18 {
    margin-left: 25px;
    margin-top: 25px;
    width: 866px;
    height: 680px
  }
  .style17 {
    margin-left: 44px;
    margin-top: 32px;
    width: 839px;
    height: 444px
  }
  .style16 {
    margin-left: 25px;
    margin-top: 12px;
    width: 859px;
    height: 1106px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja7wf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 10px;
    margin-top: 0;
    width: 876px;
    height: 434px;
    flex-direction: column
  }
  .style3 {
    color: #3856b8;
    font-family: arial,serif;
    font-size: .7666666666666666em;
    font-weight: 700;
    margin-left: 621px;
    margin-top: 49px;
    height: 7px
  }
  .style22 {
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 172px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja69c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 650px;
    flex-direction: column
  }
  .image0row0 {
    display: flex;
    margin-left: 32px;
    margin-top: 54px;
    width: 1101px;
    height: 470px
  }
  .style7 {
    margin-left: 0;
    width: 714px;
    height: 100%
  }
  .image0row0column1 {
    display: flex;
    margin-left: 42px;
    width: 320px;
    height: 563px;
    flex-direction: column
  }
  .style26 {
    margin-left: 6px;
    margin-top: 0;
    width: 320px;
    height: 160px
  }
  .image0row0column1row1 {
    position: relative;
    display: flex;
    margin-top: 182px;
    width: 346px;
    height: 198px
  }
  .style12,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwjaq26.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0;
    width: 150px;
    height: 100%
  }
  .style12,
  .style28 {
    margin-left: 6px;
    width: 307px;
    height: 186px
  }
  .style28 {
    margin-left: 61px;
    margin-top: 22px;
    width: 134px;
    height: 198px
  }
  .image0row1 {
    position: relative;
    display: flex;
    margin-left: 32px;
    margin-top: 448px;
    width: 1107px;
    height: 141px
  }
  .style11 {
    position: relative;
    margin-left: 0;
    width: 112px;
    flex-shrink: 0
  }
  .style10,
  .style11,
  .style8,
  .style9 {
    margin-top: 93px;
    height: 74px
  }
  .style9 {
    position: relative;
    width: 112px;
    flex-shrink: 0;
    margin-left: 10px
  }
  .style10,
  .style8 {
    margin-left: 13px
  }
  .style10 {
    position: relative;
    flex-shrink: 0;
    width: 109px
  }
  .style8 {
    width: 96px
  }
  .style29,
  .style5,
  .style6,
  .style8 {
    position: relative;
    flex-shrink: 0
  }
  .style5,
  .style6 {
    margin-top: 93px;
    margin-left: 13px;
    width: 112px;
    height: 74px
  }
  .style29 {
    margin-left: 208px;
    width: 186px;
    height: 100%;
    align-self: stretch
  }
  .image0row2 {
    display: flex;
    margin-left: 32px;
    margin-top: 19px;
    width: 1085px;
    height: 83px
  }
  .style1 {
    margin-left: 0;
    margin-top: 19px;
    width: 714px;
    height: 26px
  }
  .style24 {
    color: #000;
    font-family: arial,serif;
    font-size: 1em;
    font-weight: 700;
    margin-left: 48px;
    margin-top: 16px;
    height: 10px
  }
  .style21 {
    margin-left: 880px;
    width: 205px;
    height: 100%;
    align-self: stretch
  }
  .style25 {
    color: #000;
    font-family: arial,serif;
    font-size: 1em;
    font-weight: 700;
    margin-left: 794px;
    margin-top: 0;
    height: 10px
  }
  .row2 {
    display: flex;
    margin-left: 13px;
    margin-top: 3px;
    width: 1120px;
    height: 403px
  }
  .style31 {
    position: relative;
    margin-left: 0;
    margin-top: 202px;
    width: 32px;
    height: 19px
  }
  .style15 {
    margin-left: 0;
    width: 1062px;
    height: 100%;
    align-self: stretch
  }
  .style30 {
    margin-left: 3px;
    margin-top: 202px;
    width: 32px;
    height: 19px
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja96k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 26px;
    margin-top: 16px;
    width: 1117px;
    height: 618px;
    flex-direction: column
  }
  .style14 {
    position: relative;
    margin-left: 29px;
    margin-top: 579px;
    width: 1078px;
    height: 637px;
    flex-shrink: 0
  }
  .style13 {
    margin-left: 54px;
    margin-top: 592px;
    width: 1091px;
    height: 512px
  }
  .style19,
  .style20 {
    margin-left: 42px;
    margin-top: 0
  }
  .style20 {
    position: relative;
    width: 1082px;
    height: 624px
  }
  .style19 {
    width: 1120px;
    height: 70px
  }
  .style18 {
    margin-left: 32px;
    margin-top: 32px;
    width: 1130px;
    height: 886px
  }
  .style17 {
    margin-left: 58px;
    margin-top: 42px;
    width: 1094px;
    height: 579px
  }
  .style16 {
    margin-left: 32px;
    margin-top: 16px;
    width: 1120px;
    height: 1443px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/x5vkcknwja7wf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 13px;
    margin-top: 0;
    width: 1142px;
    height: 566px;
    flex-direction: column
  }
  .style3 {
    color: #3856b8;
    font-family: arial,serif;
    font-size: 1em;
    font-weight: 700;
    margin-left: 810px;
    margin-top: 64px;
    height: 10px
  }
  .style22 {
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 224px
  }
}